@model Biblioteka_bazyDanych.czytelnicy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>czytelnicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.miastso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miastso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ulica)
        </dd>
        <dt>
            Przeczytane książki
        </dt>
        <dd>
            @ViewBag.Read
        </dd>
        <dt>
            Zarezerwowane książki
        </dt>
        <dd>
            @ViewBag.Reserved
        </dd>
        <dt>
            Aktualnie wypożyczone
        </dt>
        <dd>
            @ViewBag.Borrowed
        </dd>
    </dl>

    <h3>Historia wypożyczeń</h3>

    @if (Model.wypozyczenia.Count() == 0)
    {

        <h5>Czytelnik nie wypożyczał jeszcze książek.</h5>

    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Data zamówienia
                </th>
                <th>
                    Data wypożyczenia
                </th>
                <th>
                    Data zwrotu
                </th>
                <th>
                    Status
                </th>
                <th>
                    Czytelnik
                </th>
                <th>
                    Książka
                </th>
            </tr>

            @foreach (var item in Model.wypozyczenia)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_wypozyczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_zamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_wypozyczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_zwrotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink(item.czytelnicy.imie + " " + item.czytelnicy.nazwisko, "Details", "czytelnicy", new { id = item.id_czytelnika }, null)
            </td>
            <td>
                @Html.ActionLink(item.ksiazki.tytul, "Details", "ksiazki", new { id = item.id_ksiazki }, null)
            </td>
        </tr>

             }
        </table>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_czytelnika }) |
    @Html.ActionLink("Back to List", "Index")
</p>
