@model Biblioteka_bazyDanych.czytelnicy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>czytelnicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.miastso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miastso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_ksiazek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_ksiazek)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_czytelnika }) |
    @Html.ActionLink("Back to List", "Index")
</p>
