@model IEnumerable<Biblioteka_bazyDanych.wypozyczenia>

@{
    ViewBag.Title = "Index";
}

<h2>Wypożyczenia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data_zamowienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wypozyczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_zwrotu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_czytelnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_ksiazki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_zamowienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wypozyczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_zwrotu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.czytelnicy.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ksiazki.tytul)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_wypozyczenia }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_wypozyczenia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_wypozyczenia })
        </td>
    </tr>
}

</table>
