@using PagedList
@using PagedList.Mvc
@model Biblioteka_bazyDanych.ksiazki
   

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ksiazki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autorzy.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autorzy.imie) @Html.DisplayFor(model => model.autorzy.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gatunki.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatunki.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wydawnictwa.kraj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wydawnictwa.kraj)
        </dd>


    </dl>

    <h3>Historia wypożyczeń</h3>

    @if (Model.wypozyczenia.Count() == 0)
    {

        <h5>Książka nie była jeszcze wypożyczana.</h5>

    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Data zamówienia
                </th>
                <th>
                    Data wypożyczenia
                </th>
                <th>
                    Data zwrotu
                </th>
                <th>
                    Status
                </th>
                <th>
                    Czytelnik
                </th>
                <th>
                    Książka
                </th>
            </tr>


            @foreach (var item in Model.wypozyczenia)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_wypozyczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_zamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_wypozyczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_zwrotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink(item.czytelnicy.imie + " " + item.czytelnicy.nazwisko, "Details", "czytelnicy", new { id = item.id_czytelnika }, null)
            </td>
            <td>
                @Html.ActionLink(item.ksiazki.tytul, "Details", "ksiazki", new { id = item.id_ksiazki }, null)
            </td>
        </tr>

            }
        </table>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_ksiazki }) |
    @Html.ActionLink("Back to List", "Index")
</p>
