@model IEnumerable<Biblioteka_bazyDanych.wydawnictwa>

@{
    ViewBag.Title = "Index";
}

<h2>Wydawnictwa</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miasto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nazwa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.kraj)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.miasto)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.nazwa }) |
        @Html.ActionLink("Details", "Details", new { id = item.nazwa }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.nazwa })
    </td>
</tr>
}

</table>
